<!DOCTYPE html>
<html>
  <head>
    <title>Find-a-Pet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application.tsx' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
